.form-row {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

h4.Receipt-report-title {
    font-weight: bold;
    user-select: none;
}

/* Drop Downs */
.form-control {
    width: 14rem !important;
    box-shadow: #42C3AA;
    margin-bottom: 1rem;
    margin-left: 0.4rem;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem #DEF3EE;
    outline: none;
}

.dropdown-container {
    vertical-align: middle;
    margin-right: 1rem;
    color: lightgray;
}