@import url('./constants/colors.css');

/* Default styles for the sidebar */
#sidebar {
    background-color: #f8f9fa;
    border-right: 1px solid black;
    padding: 0.5rem;
    width: 20rem;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    overflow: hidden;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start; /* Add this line */
    margin-bottom: 0.6rem;
    margin-top: 0.6rem;
}

.logo-container h3 {
    margin-left: 10px; /* Add this line to add some space between logo and text */
}

.logo-container img {
    height: 40px;
    margin-right: 10px;
}

.profile-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
}

.profile-container h5 {
    margin-top: 10px;
}

.profile-container img {
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 20%;
    margin-inline: 10px;
    overflow: hidden;
    background-color: var(--secondary-color);
}

.user-info {
    display: flex;
    flex-direction: column;
}

.general-section ul {
    list-style: none;
    margin: 0.2rem;
    padding: 0;
}

.general-section li a {
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 0.5rem;
    padding: 0.2rem;
}

.general-section li a:hover {
    text-decoration: none;
    color: black;
}

.general-section li:target{
    background-color: #DEF3EE;
}

.general-section li img {
    height: 2.6rem;
    width: 2.6rem;
    margin-right: 0.75rem;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
}

.settings-section ul {
    list-style: none;
    margin: 0.2rem;
    padding: 0;
}

.settings-section li a {
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.settings-section li a:hover{
    text-decoration: none;
    color: black;
}

.settings-section li:target {
    background-color: #DEF3EE;
}

.settings-section li img {
    height: 2.6rem;
    width: 2.6rem;
    border-radius: 0.5rem;
    margin-right: 0.75rem;
    overflow: hidden;
    background-color: var(--primary-color);
}

/* Media query for screens smaller than 768px */
@media screen and (max-width: 767.98px) {
    #sidebar {
        width: 100%;
        height: auto;
        border-right: none;
        border-bottom: 1px solid black;
    }

    .logo-container,
    .profile-container,
    .general-section,
    .settings-section {
        margin-bottom: 1rem;
    }

    .logo-container img {
        height: 5rem;
        margin-right: 5px;
    }

    .profile-container img {
        height: 2.6rem;
        width: 2.6rem;
        margin-inline: 5px;
    }

    .general-section li img,
    .settings-section li img {
        height: 2.2rem;
        width: 2.2rem;
        margin-right: 5px;
    }
}

/* Media query for screens larger than 768px */
@media screen and (min-width: 768px) {
    #sidebar {
        width: 20rem;
        height: 100%;
        border-right: 1px solid black;
        border-bottom: none;
    }

    .logo-container img {
        height: 40px;
        margin-right: 10px;
    }

    .profile-container img {
        height: 3.2rem;
        width: 3.2rem;
        margin-inline: 10px;
    }

    .general-section li img,
    .settings-section li img {
        height: 2.6rem;
        width: 2.6rem;
        margin-right: 10px;
    }
}