@import url('./constants/colors.css');
body {
    background-color: var(--background-color);
    font-family: 'Raleway', sans-serif;
}

.btn-custom {
    background-color: var(--primary-color);
}

.sidebar-custom{
    background-color: var(--side-bar-color);
}